
body {
    width: 350px;
    padding: 8px;
}

.title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: hotpink;
    color: #FFF;
    border: none;
    cursor: pointer;
}